In [50]:
import pandas as pd
praha = pd.read_csv("zam_praha.csv")
plzen = pd.read_csv("zam_plzeň.csv")
liberec = pd.read_csv("zam_liberec.csv")
praha['mesto'] = ["Praha"] * len(praha)
plzen['mesto'] = ["Plzen"] * len(plzen)
liberec['mesto'] = ["Liberec"] * len(liberec)

zamestnanci = pd.concat([praha, plzen, liberec], ignore_index=True)
zamestnanci.head()

      jmeno prijimeni   telefonni_cislo  cislo_zamestnance  mesto
0     Brian      Hall  +421 949 656 098                 30  Praha
1     Marta  Kolářová       730 456 163                 32  Praha
2      John   Moravec       725 092 179                 33  Praha
3  Dominika   Kopecká       722 747 626                 34  Praha
4    Marcel     Hájek  +421 902 928 669                 35  Praha

In [72]:
platy = pd.read_csv("platy_2021_02.csv")
zamestnanci_platy = pd.merge(zamestnanci, platy, how="inner", on=["cislo_zamestnance"])
zamestnanci_platy.head(20)

,jmeno,prijimeni,telefonni_cislo,cislo_zamestnance,mesto,plat
0,Brian,Hall,+421 949 656 098,30,Praha,33500.0
1,Marta,Kolářová,730 456 163,32,Praha,53000.0
2,John,Moravec,725 092 179,33,Praha,38400.0
3,Dominika,Kopecká,722 747 626,34,Praha,36800.0
4,Milada,Hernandez,773 373 704,38,Praha,32600.0
5,Catherine,Bender,604 068 460,40,Praha,32800.0
6,Olga,Němcová,+421 914 172 243,41,Praha,49300.0
7,Jeffrey,Šťastný,607 628 821,44,Praha,52000.0
8,Kamila,Říhová,+421 948 396 069,47,Praha,40700.0
9,Jaromír,Miller,+421 912 615 902,49,Praha,58400.0
10,Christopher,Zeman,+421 948 150 084,51,Praha,37100.0
11,Jeffrey,Pospíšil,+421 55 491 6940,56,Praha,39300.0
12,Ladislav,Blažek,+421 910 274 975,57,Praha,36800.0
13,William,Alexander,+421 949 106 724,63,Praha,31400.0
14,Kimberly,Bass,+421 912 169 840,64,Praha,36900.0
15,Luděk,Bartoš,+421 940 700 326,69,Praha,32600.0
16,Dillon,Black,734 300 978,70,Praha,52600.0
17,Steve,Šimek,604 966 101,74,Praha,49300.0
18,Theresa,Kučerová,+421 48 528 0081,76,Praha,55400.0
19,Marta,Butler,+421 944 196 827,78,Praha,52600.0

In [53]:
print(zamestnanci.shape)
print(zamestnanci_platy.shape)

(56, 5)
(43, 6)

In [54]:
zamestnanci_platy.groupby("mesto")["plat"].mean()

mesto
Liberec    43775.000000
Plzen      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

In [71]:
vykazy = pd.read_csv("vykazy.csv")

zamestnanci_vykazy = pd.merge(vykazy, zamestnanci, how='left', left_on='emloyee_id', right_on='cislo_zamestnance')
zamestnanci_vykazy.head()

,date,hours,project,emloyee_id,jmeno,prijimeni,telefonni_cislo,cislo_zamestnance,mesto
0,2021-02-01,2.5,F30,13,Alexander,Martinez,721 195 689,13,Plzen
1,2021-02-01,3.4,W05,70,Dillon,Black,734 300 978,70,Praha
2,2021-02-01,2.1,JL9,72,Robert,Říha,727 351 984,72,Praha
3,2021-02-01,5.2,F30,3,Stacy,Pospíšilová,727 293 880,3,Plzen
4,2021-02-01,2.4,TE1,54,Michelle,Vlčková,+421 41 720 7806,54,Praha

In [75]:
zamestnanci_vykazy.groupby("project")["hours"].sum()

project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64